In [1]:
import pandas as pd

In [5]:
df = pd.read_excel(f"C:\\projetos\\fiap\\previsao_defasagem\\data\\BASE DE DADOS PEDE 2024 - DATATHON.xlsx", sheet_name="PEDE2024")

In [ ]:
df.head()

,RA,Fase,INDE 2024,Pedra 2024,Turma,Nome Anonimizado,Data de Nasc,Idade,Gênero,Ano ingresso,...,IPV,IAN,Fase Ideal,Defasagem,Destaque IEG,Destaque IDA,Destaque IPV,Escola,Ativo/ Inativo,Ativo/ Inativo.1
0,RA-1275,ALFA,7.611367,Ametista,ALFA A - G0/G1,Aluno-1275,2016-07-28,8,Masculino,2024,...,5.446667,10.0,ALFA (1° e 2° ano),0,NaN,NaN,NaN,EE Chácara Florida II,Cursando,Cursando
1,RA-1276,ALFA,8.002867,Topázio,ALFA A - G0/G1,Aluno-1276,2016-10-16,8,Feminino,2024,...,7.050000,10.0,ALFA (1° e 2° ano),0,NaN,NaN,NaN,EE Chácara Florida II,Cursando,Cursando
2,RA-1277,ALFA,7.9522,Ametista,ALFA A - G0/G1,Aluno-1277,2016-08-16,8,Masculino,2024,...,7.046667,10.0,ALFA (1° e 2° ano),0,NaN,NaN,NaN,EE Dom Pedro Villas Boas de Souza,Cursando,Cursando
3,RA-868,ALFA,7.156367,Ametista,ALFA A - G0/G1,Aluno-868,2015-11-08,8,Masculino,2023,...,7.213333,5.0,Fase 1 (3° e 4° ano),-1,NaN,NaN,NaN,EE Chácara Florida II,Cursando,Cursando
4,RA-1278,ALFA,5.4442,Quartzo,ALFA A - G0/G1,Aluno-1278,2015-03-22,9,Masculino,2024,...,4.173333,5.0,Fase 1 (3° e 4° ano),-1,NaN,NaN,NaN,EM Etelvina Delfim Simões,Cursando,Cursando

In [7]:
df.columns

Index(['RA', 'Fase', 'INDE 2024', 'Pedra 2024', 'Turma', 'Nome Anonimizado',
       'Data de Nasc', 'Idade', 'Gênero', 'Ano ingresso',
       'Instituição de ensino', 'Pedra 20', 'Pedra 21', 'Pedra 22', 'Pedra 23',
       'INDE 22', 'INDE 23', 'Cg', 'Cf', 'Ct', 'Nº Av', 'Avaliador1',
       'Rec Av1', 'Avaliador2', 'Rec Av2', 'Avaliador3', 'Avaliador4',
       'Avaliador5', 'Avaliador6', 'IAA', 'IEG', 'IPS', 'IPP',
       'Rec Psicologia', 'IDA', 'Mat', 'Por', 'Ing', 'Indicado', 'Atingiu PV',
       'IPV', 'IAN', 'Fase Ideal', 'Defasagem', 'Destaque IEG', 'Destaque IDA',
       'Destaque IPV', 'Escola', 'Ativo/ Inativo', 'Ativo/ Inativo.1'],
      dtype='str')

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     1156 non-null   str
 1   Fase                   1156 non-null   object
 2   INDE 2024              1092 non-null   object
 3   Pedra 2024             1092 non-null   str
 4   Turma                  1156 non-null   object
 5   Nome Anonimizado       1156 non-null   str
 6   Data de Nasc           1156 non-null   datetime64[us]
 7   Idade                  1156 non-null   int64
 8   Gênero                 1156 non-null   str
 9   Ano ingresso           1156 non-null   int64
 10  Instituição de ensino  1155 non-null   str
 11  Pedra 20               191 non-null    str
 12  Pedra 21               264 non-null    str
 13  Pedra 22               472 non-null    str
 14  Pedra 23               690 non-null    str
 15  INDE 22                472 non-null    float64
 16  INDE 23                690 non-null    float64
 17  Cg                     0 non-null      float64
 18  Cf                     0 non-null      float64
 19  Ct                     0 non-null      float64
 20  Nº Av                  1156 non-null   int64
 21  Avaliador1             1029 non-null   str
 22  Rec Av1                0 non-null      float64
 23  Avaliador2             1029 non-null   str
 24  Rec Av2                0 non-null      float64
 25  Avaliador3             793 non-null    str
 26  Avaliador4             407 non-null    str
 27  Avaliador5             148 non-null    str
 28  Avaliador6             6 non-null      str
 29  IAA                    1054 non-null   float64
 30  IEG                    1156 non-null   float64
 31  IPS                    1054 non-null   float64
 32  IPP                    1054 non-null   float64
 33  Rec Psicologia         0 non-null      float64
 34  IDA                    1055 non-null   float64
 35  Mat                    1051 non-null   float64
 36  Por                    1050 non-null   float64
 37  Ing                    474 non-null    float64
 38  Indicado               0 non-null      float64
 39  Atingiu PV             0 non-null      float64
 40  IPV                    1054 non-null   float64
 41  IAN                    1156 non-null   float64
 42  Fase Ideal             1156 non-null   str
 43  Defasagem              1156 non-null   int64
 44  Destaque IEG           0 non-null      float64
 45  Destaque IDA           0 non-null      float64
 46  Destaque IPV           0 non-null      float64
 47  Escola                 1155 non-null   str
 48  Ativo/ Inativo         1156 non-null   str
 49  Ativo/ Inativo.1       1156 non-null   str
dtypes: datetime64[us](1), float64(23), int64(4), object(3), str(19)
memory usage: 451.7+ KB

In [9]:
def filter_columns(df, filters: list): # adiciono no array o padrão que existe nas colunas e que não quero que tenha na saída final
    selected_columns = [True] * len(df.columns)  # Inicializa todas as colunas como True
    for index, column in enumerate(df.columns):
        if any(filter in column for filter in filters): selected_columns[index] = False
    return df[df.columns[selected_columns]]

In [14]:
df_2024 = filter_columns(df, [' 20', ' 21', ' 22', ' 23'])

In [15]:
df_2024.info()

<class 'pandas.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RA                     1156 non-null   str
 1   Fase                   1156 non-null   object
 2   Turma                  1156 non-null   object
 3   Nome Anonimizado       1156 non-null   str
 4   Data de Nasc           1156 non-null   datetime64[us]
 5   Idade                  1156 non-null   int64
 6   Gênero                 1156 non-null   str
 7   Ano ingresso           1156 non-null   int64
 8   Instituição de ensino  1155 non-null   str
 9   Cg                     0 non-null      float64
 10  Cf                     0 non-null      float64
 11  Ct                     0 non-null      float64
 12  Nº Av                  1156 non-null   int64
 13  Avaliador1             1029 non-null   str
 14  Rec Av1                0 non-null      float64
 15  Avaliador2             1029 non-null   str
 16  Rec Av2                0 non-null      float64
 17  Avaliador3             793 non-null    str
 18  Avaliador4             407 non-null    str
 19  Avaliador5             148 non-null    str
 20  Avaliador6             6 non-null      str
 21  IAA                    1054 non-null   float64
 22  IEG                    1156 non-null   float64
 23  IPS                    1054 non-null   float64
 24  IPP                    1054 non-null   float64
 25  Rec Psicologia         0 non-null      float64
 26  IDA                    1055 non-null   float64
 27  Mat                    1051 non-null   float64
 28  Por                    1050 non-null   float64
 29  Ing                    474 non-null    float64
 30  Indicado               0 non-null      float64
 31  Atingiu PV             0 non-null      float64
 32  IPV                    1054 non-null   float64
 33  IAN                    1156 non-null   float64
 34  Fase Ideal             1156 non-null   str
 35  Defasagem              1156 non-null   int64
 36  Destaque IEG           0 non-null      float64
 37  Destaque IDA           0 non-null      float64
 38  Destaque IPV           0 non-null      float64
 39  Escola                 1155 non-null   str
 40  Ativo/ Inativo         1156 non-null   str
 41  Ativo/ Inativo.1       1156 non-null   str
dtypes: datetime64[us](1), float64(21), int64(4), object(2), str(14)
memory usage: 379.4+ KB